---
layout: page
title: "Pearls and poems"
permalink: /pearls/
---
<style>


  .quote-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .quote-list .quote-heading {
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .quote-description {
    color: #9BA487;
  }

  .quote-list .quote-heading:hover, .quote-description:hover {
    color: #656565;
  } 

  .quote-list a {
    color: #656565;
  }
  .quote-list a:hover {
    text-decoration: none;
    background-color: transparent;
  }
  .quote-tags {
    margin-top: 0.75rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 3px;
    line-height: 2.2rem;

  }
  .quote-tags .tag  {
    background-color: #e5d6d69e;
    border-radius: 16px;
    padding: 4px 8px;
    font-size: 14px;
    text-decoration: none;
    color:#5c524a;
    transition: background-color 0.3s;
    white-space: nowrap;
  }

  .quote-tags .tag:hover {
    background-color: #E5D6D6;
    color:#5c524a;

  }
  @media (max-width: 924px){
    .quote-list {
      padding-right: 10%;
    }
  }

</style>

<p>Here are adornments to my mind. <i>"And there is also in prose convulsive subtlety in which a great actor, the Word, rhythmically transforms the untouchable mystery of the Universe into its corporeal substance." - Pessoa </i>
  
</p>

<ul class="quote-list">
  {% assign sorted_quotes = site.quotes | sort: "date" | reverse %}
  {% for q in sorted_quotes %}
    <li>
      {% if q.heading %}
      <a href="{{ q.url }}" class="quote-heading"> {{ q.author }} <span class="quote-description">{{ q.heading }}</span> </h2> </a>
      {% else %}
      <a href="{{ q.url }}" class="quote-heading"> {{ q.author }} </h2> </a>
      {% endif %}
      <br>
      {{ q.quote }}  
      
      {%- if q.tags -%}

        <div class="quote-tags">
          
        {% for tag in q.tags %}
          <a href="{{ '/tag/' | append: tag | relative_url }}" class="tag">{{ tag }}</a>
        {% endfor %}
      {%- endif -%}
    </li>
  {% endfor %}
</ul>
