---
layout: page
title: "Pennings"
permalink: /pennings/

description: This is a place where I keep my somewhat unpolished writing and musings - though they may be polished sometimes. 
    The technology of written language is a godsend to slow thinkers and visual (albeit abstracted visual) learners such as myself.
    As such, it is a nest for thought, so proceed with caution. 
---
<style>
    .post-list{
        margin-top: 5rem;
        margin-right:10rem;
        margin-left: 0rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        position: inherit;
    }
    @media (max-width: 914px) {
        .post-list {
            margin-left: 12%;
        }
    }

    @media (max-width: 640px) {
        .post-list {
            max-width: 290px;
            margin-left: 10%;
        }
        .post-heading .category {
            display: none;
        }
        .post-excerpt {
            max-width: 290px;
        }
        .main-content-wrapper {
            width: 450px;
        }
    }
    .post-item {
        display: flex;
        flex-direction: row;
        min-width: 400px;
        align-items:start;
        justify-content: left;
        gap: 1rem;
    }
    .post-image {
        border-radius: 3px;

        width: 10px;
        height: 100%;
        overflow: hidden;
        flex-shrink: 0;
        transition: width 0.3s ease-in;
    }

    .post-image img {
        border-radius: 0%;
        width: 100%;
        height: 11.5rem;
        object-fit:cover;
        display: block;
        filter: grayscale(1);
    }

 
    .post-item:hover .post-image {
        width: 40px;
    }

    .post-heading {
        display: flex;
        flex-direction: row;
        min-width: 400px;
        padding-top: 0.1rem;
        font-family: system-ui, sans-serif;

        justify-content: space-between;
    }
    .post-excerpt {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* Max lines */
        -webkit-box-orient: vertical;     
        line-clamp: 2;
        /* Optional: for forward compatibility (not widely supported yet) */
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .theme-bar {
        top: 30%;
    }

    .post-list .post-item-link {
        text-decoration: none;
        color: black;
        display: block;
        color: inherit;
    }
    .post-list .post-item-link:hover {
    /*background-color: rgba(225, 225, 225, 0.067);  light gray on hover */
        width: fit-content;
        background-color: transparent;
        color: black;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    .post-list blockquote {
        margin: 0px;
        padding-right: 0;
        margin-left: 0;
        color: black;
        border-left: none;
    }



</style>




<!--
        <nav class="theme-bar">
            <a href="#">Art</a>
            <a href="#">Culture</a>
            <a href="#">Design</a>
            <a href="#">Literature</a>
            <a href="#">Music</a>            
            <a href="#">Philosophy</a>
            <a href="#">Religion</a>
            <a href="#">Nonsense</a>
        </nav> -->

<div class="post-list">
    {% for post in site.posts %}
        <a href="{{ post.url | relative_url }}" class="post-item-link">
        <div class="post-item">
            <div class="post-image">
                {% if post.image %}
                    <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
                {% else %}
                    <img src="/img/default-thumb.jpg" alt="Default image">
                {% endif %}
            </div>
            <div class="post-text">
                <div class="post-heading">
                    <h3>{{ post.title }}</h3>
                    <div class="category">{{ post.categories[0] }}</div>
                </div>

            <div class="post-excerpt">
                <p>{{ post.excerpt }}</p>
            </div>
            </div>
        </div>
        </a>
    {% endfor %}
</div>