---
layout: default
title: "Pennings"
permalink: /pennings/
---
<style>
    .post-list{
        margin-top: 5rem;
        margin-right:10rem;
        margin-left: 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .post-item {
        display: flex;
        flex-direction: row;
        min-width: 400px;
        align-items:start;
        justify-content: left;
        gap: 1rem;
    }
    .post-image {
        width: 10px;
        height: 100%;
        overflow: hidden;
        flex-shrink: 0;
        transition: width 0.3s ease-in;
    }

    .post-image img {
        width: 100%;
        height: 11.5rem;
        object-fit:cover;
        display: block;
        filter: grayscale(1);
    }

    .post-item:hover .post-image {
        width: 40px;
    }

    .post-heading {
        display: flex;
        flex-direction: row;
        min-width: 400px;
        padding-top: 1rem;

        justify-content: space-between;
    }
    .post-excerpt {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* Max lines */
        -webkit-box-orient: vertical;     
        line-clamp: 2;
        /* Optional: for forward compatibility (not widely supported yet) */
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .theme-bar {
        top: 30%;
    }
    .pennings-title {
        margin-top: 50px;
    } /* A bit hard-coded but easier to do this way */




</style>


    <h1 class="pennings-title">{{ page.title | escape }}</h1>

<main-content>



        <nav class="theme-bar">
            <a href="#">Art</a>
            <a href="#">Culture</a>
            <a href="#">Design</a>
            <a href="#">Literature</a>
            <a href="#">Music</a>            
            <a href="#">Philosophy</a>
            <a href="#">Religion</a>
            <a href="#">Nonsense</a>
        </nav>

<div class="post-list">
    {% for post in site.posts %}
        <a href="{{ post.url | relative_url }}" class="post-item-link">
        <div class="post-item">
            <div class="post-image">
                {% if post.image %}
                    <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
                {% else %}
                    <img src="/img/default-thumb.jpg" alt="Default image">
                {% endif %}
            </div>
            <div class="post-text">
                <div class="post-heading">
                    <h3>{{ post.title }}</h3>
                    <div class="category">{{ post.categories[0] }}</div>
                </div>

            <div class="post-excerpt">
                <p>{{ post.excerpt }}</p>
            </div>
            </div>
        </div>
        </a>
    {% endfor %}
</div>
</main-content>