---
layout: page
title: "Projects"
permalink: /projects/
---

<style>
    .main-content-wrapper {
        width: fit-content;
        font-family: system-ui, sans-serif; 
    }




</style>

<div class="main-content-wrapper">

    <div class="project-list">
        {% for proj in site.projects %}
            <div class="proj-item">
                <div class="proj-image">
                    {% if proj.image %}
                        <a href="{{ proj.ext_link }}"><img src="{{ proj.image | relative_url }}" alt="Thumbnail of {{ proj.title }}"></a>
                    {% endif %}
                </div>
                    <div class="proj-text">
                        <div class="proj-heading">
                            <div class ="proj-title">
                                {% if proj.ext_link %}
                                    <a href="{{proj.ext_link}}" >

                                <h3>{{ proj.title }} <span class="proj-type">{{ proj.type }}</span></h3>
                            </a> 
                            </div>
                                {% endif %}

                            <div class="project-tags">
                                {% for tag in proj.tags %}
                                <a href="#" class="tag">{{ tag }}</a>
                                {% endfor %}
                            </div>

                            <div class="proj-tools">Tools: {{ proj.tools }}</div>


                            <div class="proj-description">
                                <p> {{ proj.description }}</p>
                            </div>

                                    <div class="proj-time">{{ proj.time }}</div>

                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>

</div>

