---
layout: default

---
<style>
/*SPACER AND INSPOS */
.inspo-section {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;

}

.inspo-container {
  width: 110px;
  max-width: 940px;
  position: relative;
  left: 70px;
  display: flex;
}

.inspo-container a {
  text-decoration: none;
  color: black;
  font-size: larger;
  text-align: center;
}

.inspo-container a:hover p {
    color: #5C7423;
}

/* === Oyster section ===== */
#oyster-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 325px;
  padding-left: 50px;
}
#oyter-open:hover {
    color: #5C7423;
}

#oyster-wrapper {
  cursor: pointer;
}

#oyster-wrapper:hover img {
  cursor: pointer;
}
#pearl-wrapper.active {
  display: block;

}
#pearl-wrapper {
  position: relative;
  bottom: 76px;
  left: 70px;
  display: none;

}

#open-oyster {
  display: block;
}

@media screen and (max-width: 640px){
    #oyster-section {
        padding-left: 0px;
        justify-content: left;
    }
    #pearl-wrapper {
        position: absolute;
        right: 10px;
        top: 1370px;
        transform: rotate(25deg);
    }
    .post-item {
        width: auto;
    } 
}

/* ELIOT EPIGRAPH */
#eliot-quote {
    text-align: right;
    position: absolute;
    right: 20%;
    top: 7%;
    padding-right: 2px;
    color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: color 0.3s ease-out;
}

#eliot-quote:hover {
    color: #9BA487;
}
</style>




    <div class = "main-content" >
        <p id="eliot-quote"> <i>Where is the wisdom we have lost in knowledge? <br>
                            Where is the knowledge we have lost in information?</i> <br>
                            - TS Eliot
                            </p>
        <div class = "intro-section">
            {{ content }}
        </div>

<!--FEATURED LIST-->
        <div id="writing-section">
            <h3>Pinned Pieces</h3>
        </div>
        <div class="recent-posts">
            {% for post in site.posts limit:4 %}
                <a href="{{ post.url | relative_url }}" class="post-item-link">
                <div class="post-item">
                    <div class="post-left">
                    <h3>{{ post.title }}</h3>
                    <div class="category">{{ post.categories[0] }}</div>
                    </div>

                    <div class="post-image">
                    {% if post.image %}
                        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
                    {% else %}
                        <img src="/img/default-thumb.jpg" alt="Default image">
                    {% endif %}
                    </div>
                    {% if post.subtitle %}
                    <div class="post-right">
                        <p>{{ post.subtitle }}</p>
                    </div>

                    {% else %}
                    <div class="post-right">
                    <p>{{ post.excerpt }}</p>
                    </div>
                    {% endif %}
                </div>
                </a>
            {% endfor %}
        </div>
<!--END FEATURES LIST-->

      <!--  <nav class="theme-bar">
            <a href="#">Art</a>
            <a href="#">Culture</a>
            <a href="#">Design</a>
            <a href="#">Literature</a>
            <a href="#">Music</a>            
            <a href="#">Philosophy</a>
            <a href="#">Religion</a>
            <a href="#">Nonsense</a>
        </nav>-->

        <!--SPACING AND PICS-->
        <div class ="inspo-section">
            <div class = "inspo-container" > <!--WORK ON MAKING OVERLAY-->
                <a href=" {{ '/about' | relative_url }}"> <img  loading="lazy" src="/assets/img/inspo-woman.png" alt="my drawing of a woman that leads to the about page" />
                About this site</a>
                </div>

    <!--Trying to make the pinwheel-->
        </div>

        <!--Spacer-->
        <div class="spacer-fortypx"></div>

        <!--OYSTER BUTTON-->
        <div id = "oyster-section">
            <div id = "oyster-wrapper" onclick="pearlFunction()" >
                <img loading="lazy" src = "/assets/img/oyster-larger.svg" alt="My drawing of an oyster that opens to reveal pearls"/>
                <p id = "open-oyster">Open oyster</p>
            </div>
            <div id = "pearl-wrapper" >
            <a href ="{{ '/pearls/' | relative_url }}" >
                <img loading="lazy" src="/assets/img/pearls-1.svg" alt="two pearls with quotes by Etel Adnan and Gordon Hempton within" />  </a>
            </div>
        </div>
    </div>

    <script>
        function pearlFunction() {
            let pearl = document.getElementById("pearl-wrapper")
            let p = document.getElementById("open-oyster")
            if (pearl.style.display === "none" ) {
                pearl.style.display = "block", p.style.display = "none";
            } else {
                pearl.style.display = "none", p.style.display = "block";
            } }
    </script>