---
layout: default
---

<style> 
    .internal-link {
        background-color: transparent;
        color: black;
        text-decoration: underline;
        text-decoration-style:dotted ;
        font-weight: normal;
    }

    .internal-link:hover {
        color: gray;
        background-color: transparent;
    }

    h1 a {
      text-decoration: none;
    }

    .main-content-wrapper {
      width: 450px;
    }

    .category-description {
      padding: 1rem;
      display:flex ;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
    .category-description ol {
      padding-left: 2rem;
      font-size: 1.1em;
      padding-bottom: 1rem;
    }



</style>


<nav class="breadcrumbs">
  <a href="/wiki-index/">Wiki Index</a>
  › <span>{{ page.title }}</span>
</nav>

  <h1 class="category-title">{{ page.title }}</h1>

  <div class="category-description">
  {{content}}
  </div>


<div class="category-box">

  {% assign category_name = page.category %}
  {% assign category_articles = site.articles | where_exp: "a", "a.categories contains category_name" | sort: "title" %}

  
  {% assign grouped_by_type = category_articles | group_by: "genre"  %}
  <div class="type-columns">
    {% for type_group in grouped_by_type | sort: "title" %}
    <div class="type-box">
      <h2>{{ type_group.name | capitalize }}</h2>
          {% for article in type_group.items %}
            <div class="article-card">
              <a href="{{ article.url }}" class="internal-link">{{ article.title }}</a>
            </div>
          {% endfor %}
        </div>

        {% endfor %}

  </div>
