---
layout: default
---
<style>
    .post-content {
        font-family: system-ui, sans-serif;
    }
    .project-head-wrapper .post-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;

    }
    .post-meta {
        display: flex;
        flex-direction: column;
    }

    .project-tags {
        margin-top: 0.5rem;

        margin-bottom: 1rem;
    }
</style>
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="project-head-wrapper">
        <a href="{{ '/projects/' | relative_url }}" class ="back-button" >&#8636;</a>
        <header class="post-header">
            <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

                  <div class="post-meta">

                    {% if page.tags %}
                    <div class="project-tags">
                        {% for tag in page.tags %}
                        <a href="#" class="tag">{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                    </div>

                    <p> <span class="decriptors">Tools: </span> {{ page.tools }} </p>
                    <p> <span class="decriptors">Role: </span> {{ page.role }} </p>
                    <p> <span class="decriptors"> Timeline: </span> {{ page.time }} </p>
                    </div>


        </header>
    </div>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>


</article>