---
layout: default

---
<style>
  .main-content-wrapper {
    margin-left: 0;
  }
  .quote-notes {
    margin-top: 4rem;

    color: #656565;
  }
  #author-image {
    margin-top: 3rem ;
    margin-bottom: 3rem ;
  }
  #quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;
  }
</style>
<div class="main-content-wrapper">
<nav class="breadcrumbs">
  <a href="{{ '/' | relative_url }}">Home</a>
  › 
  <a href="/pearls/">Pearls</a>

</nav>    




<h3 style="font-weight: 500;" class="quote-attribution">
  {% assign author_page = site.articles | where: "title", page.author | first %}
  {% if author_page %}
    <a href="{{ author_page.url }}">{{ page.author }}</a>
  {% else %}
    {{ page.author }}
  {% endif %}

  {% if page.source %}
   from 
    <i>
    {% assign source_page = site.books | where: "title", page.source | first %}
    {% if source_page %}
      <a href="{{ source_page.url }}">{{ page.source }}</a>
    {% else %}
      {{ page.source }}
    {% endif %}
    </i>
  {% endif %}
  </h3>

<div id="quote">
  {{ content }}
</div>


{% if page.note %}
<div class="quote-notes">
<h3>Notes:</h3>
<p> {{ page.note }} </p></div>
{% endif %}

{% if author_page %}
    <a href="{{ author_page.url }}" id="author-image"><img src="{{ author_page.image }}" width="300px" style="border-radius: 6px;"></a>
{% endif %}    

</div>

<br>
Recorded on {{ page.date |  date: "%b %-d, %Y"  }}

<div class="quote-tags" style="margin-top: 1rem;">
  {% for tag in page.tags %}
    <a href="/tag/{{ tag | downcase | replace: ' ', '-' }}/" class="tag">{{ tag }}</a>
  {% endfor %}
</div>