---
layout: default

---
<style>
  .quote-notes {
    margin-top: 4rem;

    color: #656565;
  }
</style>
<div class="main-content-wrapper">
<a href="{{ '/pearls/' | relative_url }}" class="back-button">&#8636; to pearls </a>

<section id="quote">
  <br>
  {{ content }}
</section>



<p class="quote-attribution">
  — 
  {% assign author_page = site.articles | where: "title", page.author | first %}
  {% if author_page %}
    <a href="{{ author_page.url }}">{{ page.author }}</a>
  {% else %}
    {{ page.author }}
  {% endif %}

  {% if page.source %}
   from 
    <i>
    {% assign source_page = site.books | where: "title", page.source | first %}
    {% if source_page %}
      <a href="{{ source_page.url }}">{{ page.source }}</a>
    {% else %}
      {{ page.source }}
    {% endif %}
    </i>
  {% endif %}
</p>

{% if page.note %}
<div class="quote-notes">
<h3>Notes:</h3>
<p> {{ page.note }} </p></div>
{% endif %}


</div>

<br>
Added on {{ page.last_modified_at |  date: "%b %-d, %Y"  }}
