---
layout: default
---
<style>

</style>

<div class="main-content-wrapper">

<nav class="breadcrumbs">
  <a href="/">Home</a>
  › <span><a href="/tags/">All Nodes</a></span>

  › <span>Node: {{ page.title | capitalize }}</span>

</nav>

<h1>On {{ page.title | capitalize }}</h1>
<p>Appears in {% include tag-post-count.html tag=page.tag %} item(s).</p>


<ul>
  {% assign tag_name = page.tag %}
  {% assign all_collections = site.posts | concat: site.articles | concat: site.books | concat: site.quotes %}
  {% for item in all_collections %}
    {% if item.tags contains tag_name %}
      <li>
        {% case item.collection %}
          {% when "books" %}<small>Book</small>
          {% when "articles" %}
            {% if item.type %}<small>{{ item.type | capitalize }}</small>{% endif %}
          {% when "posts" %}<small>Penning</small>
          {% when "quotes" %}
            {% if item.type %}<small>{{ item.type | capitalize }}</small> 
            {% else %}<small>Quote</small> {% endif %}
          {% else %}<small>(in {{ item.collection }})</small>
        {% endcase %}
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>

        {% assign count = count | plus: 1 %}
        {% if item.image %}
        <img class="tag-item-image" src=" {{ item.image | relative_url }}" alt="image of {{ item.title }}" width="100px" height="100%" fit-content="" >
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
</div>