---
layout: default
---

<style> 
    .article-card a {
        background-color: transparent;
        color: black;
        text-decoration: underline;
        font-weight: normal;
    }

    .article-card a:hover {
        color: gray;
    }
</style>

<nav class="breadcrumbs">
  <a href="/wiki-index/">Wiki Index</a>
  › <span>{{ page.title }}</span>
</nav>

<h1>{{ page.title }}</h1>

{% assign category_name = page.category %}
{% assign category_articles = site.articles | where_exp: "a", "a.categories contains category_name" | sort: "title" %}

{% assign grouped_by_type = category_articles | group_by: "type" %}

{% for type_group in grouped_by_type %}
  <h2>{{ type_group.name | capitalize }}</h2>
   <div class="article-grid">
      {% for article in type_group.items %}
        <div class="article-card" data-tags="{{ article.tags | join: ' ' | downcase }}">
          <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
        </div>
      {% endfor %}
    {% endfor %}


